@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4"><strong>Bienvenidos a la clínica dental MDO</strong></h1>
    <br />
    <a href="/Pacientes/Index" class="btn btn-primary">Registar pacientes</a>
    <a href="/Motivos/Index" class="btn btn-primary">Registrar motivos</a>
    <a href="/Dentistas/Index" class="btn btn-primary">Registrar odontólogos</a>
    <a href="/Citas/Index" class="btn btn-primary">Agendar citas</a>
</div>
