@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Bienvenidos a la clínica dental MDO</h1>
    <a href="/Pacientes/Index" class="btn btn-primary">Registar pacientes</a>
</div>
