@{
    ViewData["Title"] = "Historia de la Clínica Dental MDO";
}
<h1>@ViewData["Title"]</h1>

<p>
	La Clínica Dental MDO fue fundada en el año 2015 por el doctor <strong>Daylin Monte De Oca</strong>, un odontólogo apasionado por la salud bucal y el bienestar de sus pacientes. La clínica nació con el objetivo de ofrecer un servicio odontológico integral, accesible y de alta calidad en un ambiente cómodo y profesional.
</p>

<p> Comenzó como un pequeño consultorio ubicado en el centro de la ciudad, con solo una unidad dental y un reducido equipo de trabajo. Gracias a la dedicación, el trato humano y los excelentes resultados obtenidos, la clínica fue ganando rápidamente la confianza de la comunidad.

</p>
<p>Con el paso de los años, la Clínica Dental MDO se ha expandido, incorporando nuevas especialidades como ortodoncia, endodoncia, odontopediatría, cirugía oral y estética dental. Hoy en día, cuenta con modernas instalaciones, tecnología de punta y un equipo multidisciplinario comprometido con la excelencia y la educación continua.

</p>
<p>
La visión de la Clínica Dental MDO es seguir creciendo como un centro odontológico de referencia, manteniendo siempre la calidez en el trato y el compromiso con la salud bucal de cada paciente.
</p>
